<div>
    <h2>Ingrese su nueva contraseña</h2>
    <form id="newPassForm">
        <input name="pass">
        <br>
        <input type="submit" value="Enviar datos">
    </form>
</div>
<script src="/js/newPass.js"></script>