<div>
    <h1>Reseteo de contraseña</h1>
    <h2>Coloca el email a la que tienes asociada tu cuenta</h2>
    <form id="resetPassForm">
        <input name="email">
        <input type="submit">
    </form>
</div>
<script src="/js/sendMailToResetPass.js"></script>