<div>
    <h1>Registro de usuario</h1>
    <form id="userRegisterForm">
        <h2>Nombre</h2>
        <input id="first_name" name="first_name">
        <h2>Apellido</h2>
        <input id="last_name" name="last_name">
        <h2>Email</h2>
        <input id="email" name="email">
        <h2>Edad</h2>
        <input id="age" name="age">
        <h2>Contraseña</h2>
        <input type="password" name="password" id="password">
        <br>
        <br>
        <input type="submit" value="Registrar usuario">
    </form>
    <p>¿Ya tienes cuenta?<a href="./login-view"> ingresa aquí</a></p>
</div>
<script src="/js/userRegister.js"></script>